version: "3.9"

services:
  mlapp:
    build:
      context: .
      dockerfile: Dockerfile.mlapp
    ports:
      - "8080:8080"
    depends_on:
      - mlflow

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    ports:
      - "5000:5000"
